//account table
.accountTable {
    width: fit-content;
    overflow: auto;
    margin: 30px auto 0 auto;
    padding: 0 40px 0 0;
    height: 580px;

    .cellWithImg {
        display: flex;
        align-items: center;

        .cellImg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .prestigePoint {
        padding-right: 30%;
        text-align: right;
    }
}

//account page
.account {
    background-color: #f8f9f9;
    padding: 20px 0 40px 0;
    height: fit-content;
    min-height: 100vh;

    p {
        padding-left: 30px;
    }

    .icon-row {
        width: 700px;

        .icon-item {
            width: 180px !important;
        }
    }

    .accountContainer {
        padding: 40px 40px 40px 40px;
        background-color: white;
        /* Optional: Add a max-width to limit the width of the container */
        margin: 0 30px 0 30px;
        overflow: auto;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.1),
            0 6px 20px 0 rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
}

//account create table
#account-create-container {
    .form-body {
        .details {
            .detailItem {
                padding-bottom: 1rem;

                .errors {
                    color: #f00;
                    font-weight: 500;
                    font-size: 1.1rem;
                    margin: 1rem 0.8rem;
                }
            }
        }

        .confirmBtn {
            background-color: #2c3d50;
            color: white;

            transition: 0.4s;
            border: none;
            cursor: pointer;
            width: 160px;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0 10px 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2rem;
        }
    }
}