//destination page
.destination-page {
    background-color: #f8f9f9;
    padding: 20px 0 40px 0;
    height: fit-content;
    min-height: 100vh;

    .link {
        span {
            font-weight: 600;
            margin-left: 10px;
        }
    }

    p {
        padding-left: 30px;
    }

    .icon-row {
        width: 900px;

        .icon-item {
            width: 170px !important;
        }
    }

    .destinationContainer {
        padding: 40px 40px 40px 40px;
        background-color: white;
        /* Optional: Add a max-width to limit the width of the container */
        margin: 0 30px 0 30px;
        overflow: auto;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.1),
            0 6px 20px 0 rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
}

//destination detail
.detailDestination {
    background-color: #f8f9f9;
    height: fit-content;
    min-height: 100vh;
    padding: 20px 30px 0 30px;

    .period-container {
        display: flex;
        gap: 8;
        overflow: hidden;
        border-radius: 5px;
    }

    .detailContainer {
        background-color: white;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 8px;
        overflow: auto;
        padding: 10px 0 30px 10px;

        .prodTitle {
            padding: 20px 0 0 30px;
            font-size: 38px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #2c3d50;

            p {
                margin-bottom: 10px;
            }

            .link {
                text-decoration: none;
                color: white;
                background-color: #2ecc71;
                font-size: 16px;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                justify-content: center;

                svg {
                    margin-right: 6px;
                }

                p {
                    margin: 0;
                }
            }

            .link:hover {
                background-color: #27ae60;

                p {
                    color: white;
                }
            }
        }

        .destinationDetail {
            margin: 20px 0 0 30px;
            display: flex;

            .slider-container {
                width: 650px;
            }

            .left {
                .slick-slide img {
                    height: 400px;
                    margin: auto;
                }
            }

            .right {
                margin-left: 4%;
            }
        }

        .bottom {
            margin: 40px 30px 0 30px;
            // margin: 0 auto;
        }

        .details {
            .detailItem {
                margin-bottom: 20px;
                padding: 10px;
                margin: 0 20px 20px 20px;
                height: 40px;
                width: 680px;

                .itemKey {
                    font-weight: 600;
                    margin-right: 5px;
                    font-size: 18px;
                    display: inline-block;
                    width: 160px;
                    color: #2c3d50;
                }

                .itemValue {
                    font-weight: 300;
                    font-size: 18px;
                    color: #2c3d50;
                    white-space: nowrap;

                    a {
                        color: #2c3d50;
                    }
                }
            }
        }
    }
}

//destination table
.destinationTable {
    width: fit-content;
    margin: 30px auto 0 auto;
    height: 580px;

    p {
        margin: 0;
    }
}
