.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tbl-loading {
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}
