//plan page
.plan {
    background-color: #f8f9f9;
    padding: 20px 0 40px 0;
    height: fit-content;
    min-height: 100vh;

    p {
        padding-left: 30px;
    }

    .icon-row {
        width: 1000px;

        .icon-item {
            width: 190px !important;
        }
    }

    .planContainer {
        padding: 40px 40px 40px 40px;
        background-color: white;
        margin: 0 30px 0 30px;
        overflow: auto;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.1),
            0 6px 20px 0 rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
}

//plan table
.planTable {
    width: fit-content;
    height: 580px;
    margin: 30px auto 0 auto;
    padding: 0 40px 0 0;

    p {
        margin: 0;
    }

    .cellWithStatus {
        padding: 8px;

        &.NONE {
            color: crimson;
        }

        &.AVAILABLE {
            color: green;
        }
    }
}

//plan account table
.planAccountTable {
    width: fit-content;

    .cellWithStatus {
        padding: 8px;

        &.NONE {
            color: crimson;
        }

        &.AVAILABLE {
            color: green;
        }
    }
}

.planDestinationTable {
    width: fit-content;
    margin: auto;

    .cellWithStatus {
        padding: 8px;

        &.NONE {
            color: crimson;
        }

        &.AVAILABLE {
            color: green;
        }
    }
}

//plan detail
.planDetail {
    background-color: #f8f9f9;
    padding: 20px 30px 20px 30px;
    height: fit-content;
    min-height: 100vh;
    color: #2c3d50;

    .dialogTitle {
        background-color: #239b56 !important;
        color: white;
    }

    .planDetailContainer {
        background-color: white;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 8px;
        padding: 30px 40px 60px 40px;

        .mix-table {
            display: flex;

            .left,
            .right {
                .activities-title {
                    background-color: #28b463;
                    color: white;
                    padding: 10px;
                    margin: 0;
                    font-size: 20px;
                }
            }

            .right {
                margin-left: 40px;
                width: 80%;
                border-radius: 4px;

                .activities-container {
                    background-color: rgb(245, 245, 245);
                    height: 86%;

                    .tbl {
                        padding: 20px 0 0 20px;
                    }
                }
            }
        }

        .top {
            margin-bottom: 20px;

            .detail-title {
                p {
                    font-size: 38px;
                    font-weight: 600;
                }
            }
        }

        // .bottom {
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        // }

        .calendar {
            .Mui-selected {
                background-color: #28b463;
            }

            box-shadow:
                0px 3px 1px -2px rgba(0, 0, 0, 0.2),
                0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            p {
                margin: 30px 0 0 0;
                padding: 15px 0 15px 10px;
                border-radius: 3px;
                background-color: #28b463;
                color: white;
                font-weight: bold;
            }
        }

        .item {
            margin-top: 40px;

            .reasonTable {
                margin-top: 30px;
                width: 300px;
                box-shadow:
                    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
                    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                    0px 1px 5px 0px rgba(0, 0, 0, 0.12);

                .title {
                    background-color: #28b463;
                    color: white;
                    padding: 15px;
                    border-radius: 3px 3px 0 0;
                    margin: 0;
                }

                .body {
                    border-radius: 0 0 3px 3px;
                    padding: 20px;
                }
            }

            .calendar {
                margin-top: 20px;
            }

            .item-title {
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 20px;
                font-weight: 600;
            }

            .transactionTable {
                height: 400px;
            }

            .details {
                display: flex;
                justify-content: space-around;

                .left,
                .right {
                    width: 50%;
                }

                .detailItem {
                    margin-bottom: 20px;
                    display: flex;
                    padding: 10px;
                    margin: 0 20px 20px 20px;
                    height: 30px;

                    .mapBtn {
                        margin-left: 10px;
                        padding: 0;
                    }

                    .itemKey {
                        width: 200px;
                        font-weight: 600;
                        margin-right: 5px;
                        font-size: 18px;
                    }

                    .itemValue {
                        font-weight: 300;
                        font-size: 18px;

                        a {
                            color: #2c3d50;
                        }
                    }
                }
            }
        }
    }
}

//plan order
.planOrderTable {
    width: fit-content;
    height: 320px;
}
